<!DOCTYPE html>
<html>
<head>
  <title>$title$ - andreiformiga.com</title>
  <meta charset="utf-8" />
  <link href="http://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
  <link rel="alternate"
        type="application/atom+xml"
        title="Musings about FP and CS (Atom)"
        href="/atom.xml" />
</head>
<body>
    <header>
      <hgroup>
        <h1><a href="/">Andrei Formiga</a></h1>
        <!-- <h2>A log of my journey through FP and CS</h2> -->
      </hgroup>
    </header>
    <nav>
        <menu>
          <a href="/">Home</a>
          <a href="/posts.html">Textos</a>
          <a href="/ensino.html">Ensino</a>
          <a href="/pesquisa.html">Pesquisa</a>
          <a href="http://andreiformiga.com/blog/">Blog</a>
        </menu>
    </nav>
    <section>
        $body$
    </section>
    <footer>
        <p>
        <a href="http://andreiformiga.com">Andrei Formiga</a> -
        <a href="http://jaspervdj.be/hakyll/index.html">Criado com Hakyll</a>
        </p>
    </footer>
    <!--
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9207155-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    -->
</body>
</html>
